/* draggable targets */
[data-draggable="target"]
{
    float:left;
    list-style-type:none;

    width:100%;
    height:15em;
    overflow-y:auto;

    margin:0 0.5em 0.5em 0;
    padding:0.5em;

    border:1px solid #e1e5eb;
    border-radius:0.2em;

    background:white;
    color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    border-color:dodgerblue;

    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;

    box-shadow:0 0 0 1px #fff, 0 0 0 3px dodgerblue;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;

    box-shadow:0 0 0 2px dodgerblue, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:dodgerblue;
    color:#fff;
}