<!doctype  html>
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Appraisal System</title>
</head>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-6" style="margin-top: 10%; margin-bottom: 10%">
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>